body {
    margin: 0;
    height: 2000px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .icon-bar a {
        display: block;
        text-align: center;
        padding: 0px;
        transition: all 0.3s ease;
        color: white;
        font-size: 12px;
    }

        .icon-bar a:hover {
            background-color: #000;
        }

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}
