@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h5>Contributors:</h5>
<p>Helal Uddin: mhud@kth.se Nick Steele: nsteele@kth.se</p><br />

<h5>About this project:</h5>
<p>This project is developed for gathering information regarding COVID-19 to update the 
    users. It is totally non-profit-oriented project which emphasis on novelty and helping 
    the people by providing all related information about COVID-19. Both students and people 
    from the community can support by using this web portal. This web app is integrated with 
    the latest Microsoft cloud platform by using Azure DevOps and Azure WebServices. As a 
    result, this app can ensure low cost and high efficiency.</p><br />
