
@{
    ViewData["Title"] = "CommunityPortal";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DevopsStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="header" style="background-color:#03098d">
        <h2 class="Zhv0Vb" aria-label="Statistics and news">Community Portal</h2>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card" style="background-color:#ffd800">

                <div class="card">
                    <h3>Stockholm – 5826 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Stockholm. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/stockh1.jpg" style="width:250px;height:150px;" /><img src="~/images/stockh2.jpg" style="width:250px;height:150px;" /><img src="~/images/stockh3.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Västra GÖtaland Country - 1442 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Västra GÖtaland. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Västra1.jpg" style="width:250px;height:150px;" /><img src="~/images/Västra3.png" style="width:250px;height:150px;" /><img src="~/images/Västra2.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Östergötland County - 1158 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Östergötland. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Östergötland2.jpg" style="width:250px;height:150px;" /><img src="~/images/Östergötland1.jpg" style="width:250px;height:150px;" /><img src="~/images/Östergötland3.png" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Södermanland County - 872 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Södermanland. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Södermanland2.jpg" style="width:250px;height:150px;" /><img src="~/images/Södermanland3.jpg" style="width:250px;height:150px;" /><img src="~/images/Södermanland4.png" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Uppsala County - 649 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Uppsala. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Uppsala3.jpg" style="width:250px;height:150px;" /><img src="~/images/Uppsala1.png" style="width:250px;height:150px;" /><img src="~/images/Uppsala2.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Örebro County - 617 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Örebro. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Örebro1.png" style="width:250px;height:150px;" /><img src="~/images/Örebro2.jpg" style="width:250px;height:150px;" /><img src="~/images/Örebro3.png" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Skåne County - 544 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Skåne. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Skåne1.jpg" style="width:250px;height:150px;" /><img src="~/images/Skåne3.jpg" style="width:250px;height:150px;" /><img src="~/images/Skåne2.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

                <div class="card">
                    <h3>Jonkoping County - 489 Confirmed COVID Cases</h3>
                    <h5>
                        Here you can find COVID-19 support for those who live in a different community in Jonkoping. Emergency, hospital, security and COVID-19 supports, Coronavirus latest information are available from below sections.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/Jonkoping1.jpg" style="width:250px;height:150px;" /><img src="~/images/Jonkoping2.png" style="width:250px;height:150px;" /><img src="~/images/Jonkoping3.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="https://polisen.se/en/the-swedish-police/contacting-the-police/" style="background-color:red">
                        Emergency: Click here now
                    </a><a class="btn btn-default" href="https://www.vardcentraler.sll.se/" style="background-color:#ef5b5b">
                        Covid-19? Support
                    </a><a class="btn btn-default" style="background-color:#44b644" href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/communicable-disease-control/covid-19/about-the-disease/">
                        Covid-19 : Learn more
                    </a><a class="btn btn-default" style="background-color:aquamarine" href="https://www.google.com/search?rlz=1C1CHBD_svSE814SE814&q=Coronavirus+Stats&stick=H4sIAAAAAAAAAONgFuLVT9c3NMwySk6OL8zJUULlPmL05hZ4-eOesJTTpDUnrzHacHEFZ-SXu-aVZJZUCulxsUFZKlyCUqg6NRik-LlQhXh2MXF7pCbmlGQElySWFC9iFXTOL8rPSyzLLCotVgCLAQCnsUMMkAAAAA&biw=1232&bih=740">
                        Covid-19 Update
                    </a>
                </div>

            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Want to help for COVID19 people?</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/kthcovid19.jpg" style="width:200px;height:70px;" /></div>
                <p>Join in our facebook group:<br /> <b style="color:#ffa100"><a href="https://m.facebook.com/groups/815512272277849">Help Fight COVID19</a></b></p>
            </div>
            <div class="card">
                <h2>Zoom for COVID-19</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/Kthzoom.jpg" style="width:200px;height:70px;" /></div>
                <p>Zoom is KTH's official distance learning platform for rmote lecture, exam and meeting.</p><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                    KTH Zoom Platform
                </a>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/master">
                        Master's programmes
                    </a><br />
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/exchange">
                        KTH Exchange studies
                    </a>
                    <br />
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/bachelor">
                        Bachelor's programme
                    </a><br />
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/phd">
                        Doctoral studies (PhD)
                    </a>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/k8vuUJ7hVLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/JCw-B4Ig3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/KXkBZCe699A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card">
                <h3>Follow Us</h3>
                <p><a href="https://dev.azure.com/KthProject2020/NewKthCovidProject">Our Azure DevOps Project</a></p>
            </div>
        </div>
    </div>

</body>

