@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Helal Uddin</strong> <a href="mailto:mhud@kth.se">mhud@kth.se</a><br />
    <strong>Nick Steele</strong> <a href="mailto:nsteele@kth.se">nsteele@kth.se</a>
</address>
