
@{
    ViewData["Title"] = "Devops";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DevopsStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <h2 class="Zhv0Vb" aria-label="Statistics and news">Built in DevOps technology</h2>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Azure DevOps</h2>
                <h5>Using Azure Devops to create the Continues intigration, April 18, 2020</h5>
                <div class="fakeimg" style="height:200px;"><img src="~/images/devops1.JPG" style="width:250px;height:150px;" /> <img src="~/images/devops12.JPG" style="width:250px;height:150px;" /> <img src="~/images/devops13.JPG" style="width:250px;height:150px;" /></div>
                <p>Azure DevOps project is created to use Team Foundation Services(TFS) and agile methodology to integrate and manage the development process from Visual Studio</p>
            </div>
            <div class="card">
                <h2>Azure DevOps Deployment pipeline</h2>
                <h5>Asp.net Core is used to build the project and deployed in the Azure Releaase pipeline, April 19, 2020</h5>
                <div class="fakeimg" style="height:200px;"><img src="~/images/dev11.JPG" style="width:250px;height:150px;" /><img src="~/images/pipe1.JPG" style="width:250px;height:150px;" /></div>
                <p>Automated build and release pipeline is used to host the Azure web services.</p>
            </div>
            <div class="card">
                <h2>Azure Web Services</h2>
                <h5>To able to consume web services, Azure app service plan has been created together with resource groups To run the local project to the cloud, April 19, 2020</h5>
                <div class="fakeimg" style="height:200px;"><img src="~/images/az2.JPG" style="width:250px;height:150px;" /><img src="~/images/az3.JPG" style="width:250px;height:150px;" /><img src="~/images/az4.JPG" style="width:250px;height:150px;" /></div>
                <p>
                    Azure web services can only be used by using the Azure portal. A free subscription and resource group have been used at this stage.
                </p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>DevOps solution for COVID-19</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/Capture.jpg" style="width:200px;height:70px;"/></div>
                <p>Azure Devops ensures nonstop solution to deploy/CI for COVID-19 web app.</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg"><iframe width="200" height="157" src="https://www.youtube.com/embed/k8vuUJ7hVLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br>
                <div class="fakeimg"><iframe width="200" height="157" src="https://www.youtube.com/embed/JCw-B4Ig3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br>
                <div class="fakeimg"><iframe width="200" height="157" src="https://www.youtube.com/embed/KXkBZCe699A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card">
                <h3>Follow Us</h3>
                <p><a href="https://dev.azure.com/KthProject2020/NewKthCovidProject">Our Azure DevOps Project</a></p>
            </div>
        </div>
    </div>

</body>