
@{
    ViewData["Title"] = "NoveltyHelping";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DevopsStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <h2 class="Zhv0Vb" aria-label="Statistics and news">Contribution to Novelty & Helping</h2>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>
                    HELP FIGHT CORONAVIRUS
                </h2>
                <h5>COVID-19 Solidarity Response Fund for WHO, April 1, 2020</h5>
                <p>The world has never faced a crisis like COVID-19. The pandemic is impacting communities everywhere. It’s never been more urgent to support the global response. The humanity, solidarity and generosity of people and organizations everywhere is also unprecedented. But we can’t stop now.</p>
                <p><b>Donations support WHO’s work, including with partners, to track and understand the spread of the virus; to ensure patients get the care they need and frontline workers get essential supplies and information; and to accelerate research and development of a vaccine and treatments for all who need them.</b></p>
                <h4><a style="color:#ff6a00" href="https://covid19responsefund.org/">DONATE NOW</a></h4>
            </div>

            <div class="card">
                <h2>Belgium, Netherlands and Sweden commit $5 million to tackle COVID-19 outbreak under UNDP Iraq’s Funding Facility for Stabilization framework [EN/AR/KU]</h2>
                <h5>The governments of Belgium, the Netherlands and Sweden have collectively committed US$5 million to support the Government of Iraq’s response to the COVID-19 crisis, April 7, 2020</h5>
                <p>The funds, pledged under UNDP’s Funding Facility for Stabilization to help rehabilitate infrastructure damaged by ISIL, will be used to support UNDP Iraq’s initial $22 million COVID-19 response package, which is being implemented under the umbrella of UNDP’s stabilization programme.</p>
                <p>Measures to combat the virus under this package include increasing the testing capacity of laboratories, providing personal protective equipment to healthcare workers, increasing the number of isolation wards, and undertaking assessments to establish post-COVID-19 recovery strategies.</p>
                <p><a href="https://reliefweb.int/report/iraq/belgium-netherlands-and-sweden-commit-5-million-tackle-covid-19-outbreak-under-undp-iraq">Source..</a></p>
            </div>
            <div class="card">
                <h2>The Government’s work in response to the virus responsible for COVID-19</h2>
                <p>The Swedish Government has presented a range of different measures to limit the spread of the COVID-19 virus and to mitigate the economic impact of it. The Government’s policy and decisions aim to:</p>
                <ul>
                    <li>Limit the spread of infection in the country</li>
                    <li>Ensure health care resources are available</li>
                    <li>Limit the impact on critical services</li>
                    <li>Alleviate the impact on people and companies</li>
                    <li>Ease concern, for example by providing information</li>
                    <li> Ensure that the right measures are taken at the right time.</li>
                </ul>
                <p><a href="https://www.government.se/government-policy/the-governments-work-in-response-to-the-virus-responsible-for-covid-19/">Source..</a></p>
            </div>
            <div class="card">
                <h2>Now possible to use part of your grant for research into COVID-19</h2>
                <h5>If you have a grant from the Swedish Research Council, you now have the option to use part of your funding for a short while for research related to Sars-CoV-2 and COVID-19., 16 APRIL 2020</h5>

                <p>The spread of the Corona virus shows that we quickly need to obtain more knowledge in this area. For this reason, the Swedish Research Council has decided to offer a time-limited option to use research funding for research relating to Sars-CoV-2 and COVID-19, irrespective of the project idea the funds were awarded for at the start.</p>
                <p>This means that if you have a been awarded funding for research*, you now have the option to divert research funding for a short while for such research.</p>
                <p>“In the situation we now find ourselves, this is the easiest and most efficient way of enabling a rapid and time-limited research initiative relating to the ongoing COVID-19 pandemic. Researchers avoid having to spend time on writing new applications and reviewing other researchers’ applications. Instead, we use the peer review by researchers conducted earlier,” says Sven Stafström, Director General of the Swedish Research Council.</p>
                <p><a href="https://www.vr.se/english/just-now/news/news-archive/2020-03-27-now-possible-to-use-part-of-your-grant-for-research-into-covid-19.html">Source..</a></p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Want to help for COVID19 people?</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/kthcovid19.jpg" style="width:200px;height:70px;" /></div>
                <p>Join in our facebook group:<br /> <b style="color:#ffa100"><a href="https://m.facebook.com/groups/815512272277849">Help Fight COVID19</a></b></p>
            </div>
            <div class="card">
                <h2>DevOps solution for COVID-19</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/Capture.jpg" style="width:200px;height:70px;" /></div>
                <p>Azure Devops ensures nonstop solution to deploy/CI for COVID-19 web app.</p>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/k8vuUJ7hVLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/JCw-B4Ig3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/KXkBZCe699A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card">
                <h3>Follow Us</h3>
                <p><a href="https://dev.azure.com/KthProject2020/KthProject">Our Azure DevOps Project</a></p>
            </div>
        </div>
    </div>

</body>

