name: PR Label generator

on:
  pull_request_target:

jobs:
  Label-PullRequest:
    runs-on: ubuntu-latest
    steps:
    - uses: Wizkas0/LabelGenAction@1.0.1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        keyword-dict: | 
            {
            "presentation":"presentation",
            "essay":"essay",
            "demo":"demo",
            "executable tutorial":"tutorial",
            "open-source contribution":"contribution_to_open_source",
            "contribution to open-source":"contribution_to_open_source",
            "course automation":"course_automation",
            "feedback":"feedback",
            "proposal":"proposal",
            "submission":"final_submission"
            }
